bin/
doc/reference/html
doc/reference/latex
.libs/
*.o
*.lst
*.mod
*~
*.a

#
*.bak
*.aux
*.dvi
*.pdf
*.toc
*.log
*.bbl
*.blg
*.fls
*.out
*.png
*.html
*.js
*.css
*.dox

#
scale-dg_init
init_LOG.pe*
init_*.pe*.nc

#
scale-dg
LOG.pe*
history.pe*.nc
restart_*.pe*.nc
*.dat

#
interp_LOG.pe*

#
job_init.sh
job_run.sh
*.out
*.err
*.stats
STDOUT.*

#
model/atm_nonhydro3d/test/case/**/*.nc