bin/
doc/reference/html
doc/reference/latex
.libs/
*.o
*.lst
*.mod
*~
*.a

#
*.bak
*.aux
*.dvi
*.pdf
*.toc
*.log
*.bbl
*.blg
*.fls
*.out
*.png
*.html
*.js
*.css
*.dox
*.i90

#
scale-dg_pp
scale-dg_init
init_LOG.pe*
init_*.pe*.nc

#
scale-dg
LOG.pe*
init_LOG.pe*
monitor.pe*
history.pe*.nc
bs.pe*.nc
topo.pe*.nc
TOPO.pe*.nc
restart_*.pe*.nc
*.dat

#
interp_LOG.pe*
cs2lonlat_LOG.pe*
regrid_LOG.pe*
regrid_LOG_topo.pe*

#
job_init.sh
job_run.sh
job_regrid.sh
*.out
*.err
*.stats
STDOUT.*
stdout.*
stderr.*

#
model/atm_nonhydro3d/test/case/**/*.nc

#
__pycache__
*.ipynb
LOG_NUMERROR.peall
model/atm_nonhydro3d/test/product_run/mountain_wave*/*/Eh*
model/atm_nonhydro3d/test/product_run_GM/advect2d/solid*/*/Eh*
model/atm_nonhydro3d/test/product_run_GM/Held_Suarez/Eh*
model/atm_nonhydro3d/test/product_run_GM/Held_Suarez/analysis_out/
model/atm_nonhydro3d/test/product_run_GM/Held_Suarez_topo/Eh*
model/atm_nonhydro3d/test/product_run_GM/Held_Suarez_topo/analysis_out/
model/atm_nonhydro3d/test/product_run_GM/gravity_wave*/*/Eh*
model/atm_nonhydro3d/test/product_run_GM/barocwave*/*/Eh*
model/atm_nonhydro3d/test/product_run_GM/mountain_wave*/*/Eh*
model/atm_nonhydro3d/test/product_run_GM/pbl_turbulence/rp*/Eh*
model/atm_nonhydro3d/test/product_run_GM/prep_topo_data/tmp
FElib/test/FE/profile_calperf_2/