&PARAM_IO
 IO_LOG_BASENAME = "cs2lonlat_LOG"
 IO_LOG_ALLNODE = .true., 
/
&PARAM_INTERP_FIELD
  !- input --------------------
  in_basename="./history",     
  vars = "W", "Umet", "Vmet",  
  !out_tinterval = 5,
/
&PARAM_INTERP_FILE
  !-- output ----------------
  out_basename="./outdata/history", 
  out_UniformGrid=.false., 
/    
&PARAM_INTERP_MESH
  !-- input ----------------
  in_Nprc             = 6,
  in_NeGX             = 9, 
  in_NeGY             = 9, 
  in_NeGZ             = 2, 
  in_PolyOrder_h      = 7, 
  in_PolyOrder_v      = 7, 
  in_NLocalMeshPerPrc = 1, 
  dom_zmin         = 0.0D0, 
  dom_zmax         = 10.0D3, 
  !-- output ----------------      
  out_NprcX = 2,       
  out_NeX   = 64,         
  out_NprcY = 2,       
  out_NeY   = 32,  
  out_NeZ   = 15, 
  out_PolyOrder_h =3, 
  out_PolyOrder_v =2, 
/